MAINICON ICON "../Resources/WhatsMissing.ico"
EXE_32 RCDATA "../Build/Resources/whatsmissing-i386.exe.z"
LIB_32 RCDATA "../Build/Resources/whatsmissing-i386.dll.z"
EXE_64 RCDATA "../Build/Resources/whatsmissing-x86_64.exe.z"
LIB_64 RCDATA "../Build/Resources/whatsmissing-x86_64.dll.z"
